:root {
  --primary-color: coral;
  --secondary-color: chocolate;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  /* Color only effect LIs that is not linked */
  color: #333;
  /* We want all LIs as inline-block elements */
  display: inline-block;
  padding: 1rem;
  /* dropdown menu will set as display:absolute 
  related to top LIs which need to set postion as relative */
  position: relative;
}

#navbar ul li a {
  color: #333;
  text-decoration: none;
}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

/* By default mouse doesn't change to pointer 
on nested ULs */
#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  /* Color does not show on the Links just shows
  on the text */
  color: #fff;
}

/* For changing a color on the link
we have to target it seperatly */
#navbar ul li:hover a {
  color: #fff;
}

/* Nested drpdown show */
#navbar ul li:hover ul {
  position: absolute;
  display: block;
  width: 200px;
  margin-top: 1rem;
  left: 0;
}

/* Dropdown menu doesn't have a background yet */
#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  background: var(--primary-color);
  color: #fff;
  float: right;
  text-align: center;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#showcase {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  align-items: center;
  height: 300px;
  justify-content: center;
  text-align: center;
  padding: 0 2rem;
}

#showcase h1 {
  color: #fff;
  font-size: 4rem;
}

@media(max-width: 600px) {
  #navbar ul li {
    display: block;
  }

  /* nested ul is over other contents becuase 
  its position: absolute | we need to change it
  for mobile screen | also for this reason we
  need to change its width as well*/
  #navbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
}